<header class='row'>
  <div class='span5 col-sm-5'>
    <h3><%=t 'CronJobs' %></h3>
  </div>
</header>

<div>
  <b>Scheduler</b>
  <form class="form-inline" role="form" action="<%= root_path %>cron/schedule" method="post">
    <div class="form-group">
      <label class="sr-only" for="name">name of job</label>
      <input type="text" name="name" class="form-control" placeholder="name of job">
    </div>
    <div class="form-group">
      <label class="sr-only" for="cron">cron</label>
      <input type="text" name="cron" class="form-control" placeholder="cron (e.g. '0 12 * * *')">
    </div>
    <div class="form-group">
      <label class="sr-only" for="klass">klass</label>
      <input type="text" name="klass" class="form-control" placeholder="klass (worker class name)">
    </div>
    <button type="submit" class="btn btn-default">Schedule</button>
  </form>
  <br />
</div>

<% if @cron_jobs.size > 0 %>

  <table class="table table-hover table-bordered table-striped table-white">
    <thead>
      <th><%= t('Status') %></th>
      <th><%= t('Name') %></th>
      <th><%= t('Cron') %></th>
      <th><%= t('Last enque') %></th>
      <th><%= t('Arguments') %></th>
      <th width="280"><%= t('Actions')%></th>
    </thead>

    <tbody>
      <% @cron_jobs.sort{|a,b| a.sort_name <=> b.sort_name }.each_with_index do |job, index| %>
        <% style = "#{job.status == 'disabled' ? "background: #ecc": ""}" %>
        <tr>
          <td style="<%= style %>"><%= t job.status %></td>
          <td style="<%= style %>"><%= job.name %></td>
          <td style="<%= style %>"><b><%= job.cron.gsub(" ", "&nbsp;") %></b></td>
          <td style="<%= style %>"><%= job.last_enqueue_time ? relative_time(job.last_enqueue_time) : "-" %></td>
          <td style="<%= style %>">
            <% if job.message and job.message.to_s.size > 100 %>
              <button data-toggle="collapse" data-target=".worker_<%= index %>" class="btn btn-xs"><%= t('ShowAll')%></button>
              <div class="toggle worker_<%= index %>" style="display: inline;"><%= job.message[0..100] + "... " %></div>
              <div class="toggle worker_<%= index %>" style="display: none;"><%= job.message %></div>
            <% else %>
              <%= job.message %>
            <% end %>
          </td>
          <td style="<%= style %>">
            <% if job.status == 'enabled' %>
              <form action="<%= root_path %>cron/<%= job.name %>/enque" method="post">
                <input class='btn btn-xs pull-left' type="submit" name="enque" value="<%= t('EnqueueNow') %>"/>
              </form>
              <form action="<%= root_path %>cron/<%= job.name %>/disable" method="post">
                <input class='btn btn-xs pull-left' type="submit" name="disable" value="<%= t('Disable') %>"/>
              </form>
            <% else %>
              <form action="<%= root_path %>cron/<%= job.name %>/enque" method="post">
                <input class='btn btn-xs pull-left' type="submit" name="enque" value="<%= t('EnqueueNow') %>"/>
              </form>
              <form action="<%= root_path %>cron/<%= job.name %>/enable" method="post">
                <input class='btn btn-xs pull-left' type="submit" name="enable" value="<%= t('Enable') %>"/>
              </form>
              <form action="<%= root_path %>cron/<%= job.name %>/delete" method="post">
                <input class='btn btn-xs btn-danger pull-left' type="submit" name="delete" value="<%= t('Delete') %>" data-confirm="<%= t('AreYouSureDeleteCronJob', :job => job.name) %>"/>
              </form>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <span><%= t('NoCronJobsFound') %></span>
<% end %>

